{% extends 'base.html' %}

{% block content %}
<h1>Create Item</h1>

   
<br/><br/><br/>
<form action="/items/create" method ="post" >
   
   
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card">
                    <div class="form-group m-4">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                    </div>
                    
                    <div class="form-group m-4">
                        <label for="Location">Location</label>
                        <select class="form-control custom-select" id="location" name="location">
                            <option selected disabled>Choose a location...</option>
                            {% for location in locations %}
                                <option value="{{ location.id }}">{{ location.location }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group m-4">
                        <label for="Person">Person</label>
                        <select class="form-control custom-select" id="person" name="person">
                            <option selected disabled>Choose a person...</option>
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group m-4">
                        <label for="Comments">Comments</label>
                        <input type="text" class="form-control" id="comments" placeholder="comments" name="comments">
                    </div>
                    
                    
                    <button type="submit" class="btn btn-danger m-4">Submit</button>
                </div>
            </div>
            <div class="col-2"></div>

        </div>
    </div>
    
</form>

{% endblock %}
