{% extends 'base.html' %}

{% block content %}
<h1>Create Location</h1>

   
<br/><br/><br/>
<form action="/locations/create" method ="post" >
   
   
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card">
                                        
                    <div class="form-group m-4">
                        <label for="Location">Location</label>
                        <input type="text" class="form-control" id="location" placeholder="location" name="location">
                    </div>
                    
                    <button type="submit" class="btn btn-danger m-4">Submit</button>
                </div>
            </div>
            <div class="col-2"></div>

        </div>
    </div>
    
</form>

{% endblock %}
