{% extends 'base.html' %}

{% block content %}
    <h1> Location Detail</h1>


    {{error}}
    <br/><br/><br/><br/><br/><br/>

    
    <div class="container">
        <div class="row">
        
        <div class="col-2"></div>
        
        <div class="col-8">
     
            <form method = "post">
            {% csrf_token %}

                    <div class="card">
                        <div class="form-group m-4">
                            <label for="name">Location</label>
                            <input type="text" class="form-control" id="name" value={{location.location}} name="location">
                        </div>
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
            
            </form>

                <form action="{% url 'delete_location' location.id %}" method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
                    
        </div>
        
    
        <div class="col-2"></div>
  
    </div>

</div>

{% endblock %}

